.mat-card {
    margin-top:10px; 
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5% ;
}

.mat-card-header {
    height: 150px; 
    background-color: black; 
    color: white;
}

.mat-card-title {
    margin-top: 40px;
    font-size: 40px;
    font-family: inherit;
    line-height: 1.2em;
}
.mat-card-subtitle {
    margin-top: 10px !important;
    color: white;
}

.mat-list-item {
    color: #333;
    background: #fff;
}
.mat-divider {
    border-bottom: 1px;
    border-color: #ccc;
}

.mat-list-item:hover {
    background: #fafafa ;
}

.authortxt {
    color: #999;
}

.mat-icon {
    display: none;
}

.mat-list-item:hover .mat-icon {
    display: block;
}