<mat-card>
  <mat-card-header>
    <mat-card-title> HN Feed</mat-card-title>
    <mat-card-subtitle>We &lt;3 hacker news! </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let hit of hits">
        <div matLine *ngIf="hit.title !== null || hit.story_title !== null " class="col-md-12"
          (click)="goToLink(hit.story_url)">
          <table>
            <tr>
              <td  style="width: 80%;">
                <span *ngIf="hit.story_title !== null; else storytitle">
                  {{ hit.story_title}}
                </span>
                <ng-template #storytitle>
                  <span> {{ hit.title}}</span>
                </ng-template>
                <span class="authortxt">&nbsp;- {{hit.author}} -&nbsp;</span>
              </td>
              <td style="width: 15%;">{{hit.created_at | date}}</td>

              <td style="width: 5%;">
                <mat-icon>delete_forever</mat-icon>
              </td>
            </tr>
          </table>
          <mat-divider></mat-divider>
        </div>

      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>